

body {
    max-width: 23em;
    min-width: 23em;
}

input[type=text] {
    min-width: 98%;
}

ul {
    list-style: none;
    width: 98%;
    padding: 0;
}

li {
    list-style: none;
    border: solid lightgrey .5px;
    margin: .25em 0;
    border-style: inset;
    border-radius: .10em;
}

li:hover {
    cursor: pointer;
}

li.selected { 
    background: blue;
}
